.App {
  font-family: Arial, sans-serif;
  text-align: center;
}
.gif-grid {
  font-family: Arial, sans-serif;
  width: 80%;
  margin: 0 auto;
}

.gif-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gif-item {
  width: 48%; /* Ancho del elemento (48% para mostrar dos elementos por fila con espacio entre ellos) */
  margin-bottom: 20px;
  box-sizing: border-box; /* Incluye el borde en el ancho del elemento */
  padding: 5px;
  border: 1px solid #ddd; /* Borde ligero */
  border-radius: 5px; /* Esquinas redondeadas */
}

.gif-item img {
  width: 100%; /* Tamaño completo dentro del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  border-radius: 5px; /* Esquinas redondeadas */
}

.gif-item p {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
}